#### Write a Python program to convert kilometers to miles?

In [1]:
km = int(input())

# 1 km = 0.621371 miles
# formula to convert km to miles

miles = km * 0.621371
print(km ,"in miles is",miles)

20
20 in miles is 12.42742

#### Write a Python program to convert Celsius to Fahrenheit?

In [2]:
C = float(input())

# formula to convert celsius to fahrenheit is  F = C * 9/5 + 32

F = C * 9/5 + 32

print(C, "degree celsius to fahrenheit is ", F)

54
54.0 degree celsius to fahrenheit is  129.2

#### Write a Python program to display calendar?

In [3]:
import calendar
y = int(input("enter year in yyyy format" ))
 
# display the calendar
print(calendar.calendar(y))

enter year in yyyy format2023
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

#### Write a Python program to solve quadratic equation?

In [11]:
import math
a = int(input("Enter value of a")) 
b = int(input("Enter value of b")) 
c = int(input("Enter value of c")) 

d = (b**2) - (4 * a * c)

root1 = -b - math.sqrt(d)
root2 = -b + math.sqrt(d)

print("The roots of Quadratic equation are ",root1,"and", root2)

Enter value of a12
Enter value of b17
Enter value of c19

ValueError: math domain error

#### 5. Write a Python program to swap two variables without temp variable?

In [4]:
a = 10
b = 20

a, b = b, a
print(a, b)

20 10